script_test_greedy.sh
script_test_backtracking.sh
results/NOTA
results/result_greedy.txt
results/solution_sheet_greedy.txt
results/Backtracking/.VERSION NOTE.txt
results/Backtracking/next_lv_early_out.txt
results/Backtracking/ver_1.0/bradford_nt-1-eplus.txt
results/Backtracking/ver_1.0/bradford_nt-2-eplus.txt
results/Backtracking/ver_1.0/bradford_nt-4-eplus.txt
results/Backtracking/ver_1.0/bradford_nt-4-race.txt
results/Backtracking/ver_1.0/bradford_nt-10-eplus.txt
results/Backtracking/ver_1.0/bradford_nt-10-free.txt
results/Backtracking/ver_1.0/bradford_nt-10-race.txt
results/Backtracking/ver_1.0/bradford-0-eplus.txt
results/Backtracking/ver_1.0/bradford-1-eplus.txt
results/Backtracking/ver_1.0/bradford-1-free.txt
results/Backtracking/ver_1.0/bradford-1-race.txt
results/Backtracking/ver_1.0/bradford-2-eplus.txt
results/Backtracking/ver_1.0/bradford-2-free.txt
results/Backtracking/ver_1.0/bradford-2-race.txt
results/Backtracking/ver_1.0/bradford-4-eplus.txt
results/Backtracking/ver_1.0/bradford-4-free.txt
results/Backtracking/ver_1.0/bradford-4-race.txt
results/Backtracking/ver_1.0/bradford-10-eplus.txt
results/Backtracking/ver_1.0/bradford-10-free.txt
results/Backtracking/ver_1.0/bradford-10-race.txt
results/Backtracking/ver_1.0/K.txt
results/Backtracking/ver_1.0/siemens1.txt
results/Backtracking/ver_1.0/siemens2.txt
results/Backtracking/ver_1.0/siemens3.txt
results/Backtracking/ver_1.0/siemens4.txt
results/Backtracking/ver_1.0/Swisscom.txt
results/Backtracking/ver_1.0/Tiny.txt
results/Backtracking/ver_1.1/bradford_nt-1-eplus.txt
results/Backtracking/ver_1.1/bradford_nt-2-eplus.txt
results/Backtracking/ver_1.1/bradford_nt-4-eplus.txt
results/Backtracking/ver_1.1/bradford_nt-4-race.txt
results/Backtracking/ver_1.1/bradford_nt-10-eplus.txt
results/Backtracking/ver_1.1/bradford_nt-10-free.txt
results/Backtracking/ver_1.1/bradford_nt-10-race.txt
results/Backtracking/ver_1.1/bradford-0-eplus.txt
results/Backtracking/ver_1.1/bradford-1-eplus.txt
results/Backtracking/ver_1.1/bradford-1-free.txt
results/Backtracking/ver_1.1/bradford-1-race.txt
results/Backtracking/ver_1.1/bradford-2-eplus.txt
results/Backtracking/ver_1.1/bradford-2-free.txt
results/Backtracking/ver_1.1/bradford-2-race.txt
results/Backtracking/ver_1.1/bradford-4-eplus.txt
results/Backtracking/ver_1.1/bradford-4-free.txt
results/Backtracking/ver_1.1/bradford-4-race.txt
results/Backtracking/ver_1.1/bradford-10-eplus.txt
results/Backtracking/ver_1.1/bradford-10-free.txt
results/Backtracking/ver_1.1/bradford-10-race.txt
results/Backtracking/ver_1.1/K.txt
results/Backtracking/ver_1.1/siemens1.txt
results/Backtracking/ver_1.1/siemens2.txt
results/Backtracking/ver_1.1/siemens3.txt
results/Backtracking/ver_1.1/siemens4.txt
results/Backtracking/ver_1.1/Swisscom.txt
results/Backtracking/ver_1.1/Tiny.txt
results/Backtracking/ver_1.2/bradford_nt-1-eplus.txt
results/Backtracking/ver_1.2/bradford_nt-2-eplus.txt
results/Backtracking/ver_1.2/bradford_nt-4-eplus.txt
results/Backtracking/ver_1.2/bradford_nt-4-race.txt
results/Backtracking/ver_1.2/bradford_nt-10-eplus.txt
results/Backtracking/ver_1.2/bradford_nt-10-free.txt
results/Backtracking/ver_1.2/bradford_nt-10-race.txt
results/Backtracking/ver_1.2/bradford-0-eplus.txt
results/Backtracking/ver_1.2/bradford-1-eplus.txt
results/Backtracking/ver_1.2/bradford-1-free.txt
results/Backtracking/ver_1.2/bradford-1-race.txt
results/Backtracking/ver_1.2/bradford-2-eplus.txt
results/Backtracking/ver_1.2/bradford-2-free.txt
results/Backtracking/ver_1.2/bradford-2-race.txt
results/Backtracking/ver_1.2/bradford-4-eplus.txt
results/Backtracking/ver_1.2/bradford-4-free.txt
results/Backtracking/ver_1.2/bradford-4-race.txt
results/Backtracking/ver_1.2/bradford-10-eplus.txt
results/Backtracking/ver_1.2/bradford-10-free.txt
results/Backtracking/ver_1.2/bradford-10-race.txt
results/Backtracking/ver_1.2/K.txt
results/Backtracking/ver_1.2/siemens1.txt
results/Backtracking/ver_1.2/siemens2.txt
results/Backtracking/ver_1.2/siemens3.txt
results/Backtracking/ver_1.2/siemens4.txt
results/Backtracking/ver_1.2/Swisscom.txt
results/Backtracking/ver_1.2/Tiny.txt
results/Backtracking/ver_1.3/bradford_nt-1-eplus.txt
results/Backtracking/ver_1.3/bradford_nt-2-eplus.txt
results/Backtracking/ver_1.3/bradford_nt-4-eplus.txt
results/Backtracking/ver_1.3/bradford_nt-4-race.txt
results/Backtracking/ver_1.3/bradford_nt-10-eplus.txt
results/Backtracking/ver_1.3/bradford_nt-10-free.txt
results/Backtracking/ver_1.3/bradford_nt-10-race.txt
results/Backtracking/ver_1.3/bradford-0-eplus.txt
results/Backtracking/ver_1.3/bradford-1-eplus.txt
results/Backtracking/ver_1.3/bradford-1-free.txt
results/Backtracking/ver_1.3/bradford-1-race.txt
results/Backtracking/ver_1.3/bradford-2-eplus.txt
results/Backtracking/ver_1.3/bradford-2-free.txt
results/Backtracking/ver_1.3/bradford-2-race.txt
results/Backtracking/ver_1.3/bradford-4-eplus.txt
results/Backtracking/ver_1.3/bradford-4-free.txt
results/Backtracking/ver_1.3/bradford-4-race.txt
results/Backtracking/ver_1.3/bradford-10-eplus.txt
results/Backtracking/ver_1.3/bradford-10-free.txt
results/Backtracking/ver_1.3/bradford-10-race.txt
results/Backtracking/ver_1.3/K.txt
results/Backtracking/ver_1.3/siemens1.txt
results/Backtracking/ver_1.3/siemens2.txt
results/Backtracking/ver_1.3/siemens3.txt
results/Backtracking/ver_1.3/siemens4.txt
results/Backtracking/ver_1.3/Swisscom.txt
results/Backtracking/ver_1.3/Tiny.txt
results/Backtracking/ver_2.0/bradford_nt-1-eplus.txt
results/Backtracking/ver_2.0/bradford_nt-2-eplus.txt
results/Backtracking/ver_2.0/bradford_nt-4-eplus.txt
results/Backtracking/ver_2.0/bradford_nt-4-race.txt
results/Backtracking/ver_2.0/bradford_nt-10-eplus.txt
results/Backtracking/ver_2.0/bradford_nt-10-free.txt
results/Backtracking/ver_2.0/bradford_nt-10-race.txt
results/Backtracking/ver_2.0/bradford-0-eplus.txt
results/Backtracking/ver_2.0/bradford-1-eplus.txt
results/Backtracking/ver_2.0/bradford-1-free.txt
results/Backtracking/ver_2.0/bradford-1-race.txt
results/Backtracking/ver_2.0/bradford-2-eplus.txt
results/Backtracking/ver_2.0/bradford-2-free.txt
results/Backtracking/ver_2.0/bradford-2-race.txt
results/Backtracking/ver_2.0/bradford-4-eplus.txt
results/Backtracking/ver_2.0/bradford-4-free.txt
results/Backtracking/ver_2.0/bradford-4-race.txt
results/Backtracking/ver_2.0/bradford-10-eplus.txt
results/Backtracking/ver_2.0/bradford-10-free.txt
results/Backtracking/ver_2.0/bradford-10-race.txt
results/Backtracking/ver_2.0/K.txt
results/Backtracking/ver_2.0/siemens1.txt
results/Backtracking/ver_2.0/siemens2.txt
results/Backtracking/ver_2.0/siemens3.txt
results/Backtracking/ver_2.0/siemens4.txt
results/Backtracking/ver_2.0/Swisscom.txt
results/Backtracking/ver_2.0/Tiny.txt
results/Backtracking/ver_2.0.1/bradford_nt-1-eplus.txt
results/Backtracking/ver_2.0.1/bradford_nt-2-eplus.txt
results/Backtracking/ver_2.0.1/bradford_nt-4-eplus.txt
results/Backtracking/ver_2.0.1/bradford_nt-4-race.txt
results/Backtracking/ver_2.0.1/bradford_nt-10-eplus.txt
results/Backtracking/ver_2.0.1/bradford_nt-10-free.txt
results/Backtracking/ver_2.0.1/bradford_nt-10-race.txt
results/Backtracking/ver_2.0.1/bradford-0-eplus.txt
results/Backtracking/ver_2.0.1/bradford-1-eplus.txt
results/Backtracking/ver_2.0.1/bradford-1-free.txt
results/Backtracking/ver_2.0.1/bradford-1-race.txt
results/Backtracking/ver_2.0.1/bradford-2-eplus.txt
results/Backtracking/ver_2.0.1/bradford-2-free.txt
results/Backtracking/ver_2.0.1/bradford-2-race.txt
results/Backtracking/ver_2.0.1/bradford-4-eplus.txt
results/Backtracking/ver_2.0.1/bradford-4-free.txt
results/Backtracking/ver_2.0.1/bradford-4-race.txt
results/Backtracking/ver_2.0.1/bradford-10-eplus.txt
results/Backtracking/ver_2.0.1/bradford-10-free.txt
results/Backtracking/ver_2.0.1/bradford-10-race.txt
results/Backtracking/ver_2.0.1/K.txt
results/Backtracking/ver_2.0.1/siemens1.txt
results/Backtracking/ver_2.0.1/siemens2.txt
results/Backtracking/ver_2.0.1/siemens3.txt
results/Backtracking/ver_2.0.1/siemens4.txt
results/Backtracking/ver_2.0.1/Swisscom.txt
results/Backtracking/ver_2.0.1/Tiny.txt
results/Backtracking/ver_2.1/bradford_nt-1-eplus.txt
results/Backtracking/ver_2.1/bradford_nt-2-eplus.txt
results/Backtracking/ver_2.1/bradford_nt-4-eplus.txt
results/Backtracking/ver_2.1/bradford_nt-4-race.txt
results/Backtracking/ver_2.1/bradford_nt-10-eplus.txt
results/Backtracking/ver_2.1/bradford_nt-10-free.txt
results/Backtracking/ver_2.1/bradford_nt-10-race.txt
results/Backtracking/ver_2.1/bradford-0-eplus.txt
results/Backtracking/ver_2.1/bradford-1-eplus.txt
results/Backtracking/ver_2.1/bradford-1-free.txt
results/Backtracking/ver_2.1/bradford-1-race.txt
results/Backtracking/ver_2.1/bradford-2-eplus.txt
results/Backtracking/ver_2.1/bradford-2-free.txt
results/Backtracking/ver_2.1/bradford-2-race.txt
results/Backtracking/ver_2.1/bradford-4-eplus.txt
results/Backtracking/ver_2.1/bradford-4-free.txt
results/Backtracking/ver_2.1/bradford-4-race.txt
results/Backtracking/ver_2.1/bradford-10-eplus.txt
results/Backtracking/ver_2.1/bradford-10-free.txt
results/Backtracking/ver_2.1/bradford-10-race.txt
results/Backtracking/ver_2.1/K.txt
results/Backtracking/ver_2.1/siemens1.txt
results/Backtracking/ver_2.1/siemens2.txt
results/Backtracking/ver_2.1/siemens3.txt
results/Backtracking/ver_2.1/siemens4.txt
results/Backtracking/ver_2.1/Swisscom.txt
results/Backtracking/ver_2.1/Tiny.txt
results/Backtracking/ver_2.1.1/bradford_nt-1-eplus.txt
results/Backtracking/ver_2.1.1/bradford_nt-2-eplus.txt
results/Backtracking/ver_2.1.1/bradford_nt-4-eplus.txt
results/Backtracking/ver_2.1.1/bradford_nt-4-race.txt
results/Backtracking/ver_2.1.1/bradford_nt-10-eplus.txt
results/Backtracking/ver_2.1.1/bradford_nt-10-free.txt
results/Backtracking/ver_2.1.1/bradford_nt-10-race.txt
results/Backtracking/ver_2.1.1/bradford-0-eplus.txt
results/Backtracking/ver_2.1.1/bradford-1-eplus.txt
results/Backtracking/ver_2.1.1/bradford-1-free.txt
results/Backtracking/ver_2.1.1/bradford-1-race.txt
results/Backtracking/ver_2.1.1/bradford-2-eplus.txt
results/Backtracking/ver_2.1.1/bradford-2-free.txt
results/Backtracking/ver_2.1.1/bradford-2-race.txt
results/Backtracking/ver_2.1.1/bradford-4-eplus.txt
results/Backtracking/ver_2.1.1/bradford-4-free.txt
results/Backtracking/ver_2.1.1/bradford-4-race.txt
results/Backtracking/ver_2.1.1/bradford-10-eplus.txt
results/Backtracking/ver_2.1.1/bradford-10-free.txt
results/Backtracking/ver_2.1.1/bradford-10-race.txt
results/Backtracking/ver_2.1.1/K.txt
results/Backtracking/ver_2.1.1/siemens1.txt
results/Backtracking/ver_2.1.1/siemens2.txt
results/Backtracking/ver_2.1.1/siemens3.txt
results/Backtracking/ver_2.1.1/siemens4.txt
results/Backtracking/ver_2.1.1/Swisscom.txt
results/Backtracking/ver_2.1.1/Tiny.txt
results/Calc/data_analysis.ods
results/Calc/greedy_analysis.ods
results/Greedy/test_degree.txt
results/Greedy/test_dsatur.txt
results/Greedy/test_greedy.txt
results/Greedy/test_satur.txt
results/Greedy/test_solver_greedy.txt
